@page "/"
@using Microsoft.AspNetCore.Components.Web
@namespace Yummy.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Vendor CSS Files -->
    <link href="assets/Avendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/Avendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/Avendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/Avendor/quill/quill.snow.css" rel="stylesheet">
    <link href="assets/Avendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="assets/Avendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="assets/Avendor/simple-datatables/style.css" rel="stylesheet">
    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/material-icon/css/material-design-iconic-font.min.css">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Amatic+SC:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <!-- Template Main CSS File -->
    <link href="assets/css/main.css" rel="stylesheet">
    <link href="assets/css/Forms.css" rel="stylesheet">
    <!-- Font Icon -->
    <link rel="stylesheet" href="assets/fonts/material-icon/css/material-design-iconic-font.min.css">
    <!-- Main css -->
    <link href="Yummy.styles.css" rel="stylesheet">
</head>
<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />
    <!-- Vendor JS Files -->
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/Adminmain.js"></script>
    <!-- Vendor JS Files -->
    <script src="assets/Avendor/apexcharts/apexcharts.min.js"></script>
    <script src="assets/Avendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/Avendor/chart.js/chart.umd.js"></script>
    <script src="assets/Avendor/echarts/echarts.min.js"></script>
    <script src="assets/Avendor/quill/quill.min.js"></script>
    <script src="assets/Avendor/simple-datatables/simple-datatables.js"></script>
    <script src="assets/Avendor/tinymce/tinymce.min.js"></script>
    <script src="assets/Avendor/php-email-form/validate.js"></script>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>
